.add-todo {
  display: flex;
  align-items: center;
  background-color: var(--colors-todo-bg);
  padding: var(--children-padding-block) var(--children-padding-inline);
  border-radius: 5px;
  color: var(--colors-text-primary);
}
.add-todo > input {
  padding-inline: var(--children-gap);
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: var(--colors-tab-active);
}

.add-todo > input::placeholder {
  color: var(--colors-text-secondary);
  opacity: 1;
}
