.mode-toggler {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.mode-toggler:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.mode-toggler > svg path {
  fill: var(--colors-text);
}
