*,
::before,
::after {
  box-sizing: border-box;
  transition: 0.2s ease-in;
  transition-property: background-color, color, border-color;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  padding: 0;
  margin: 0;
}

button,
input,
textarea {
  font: inherit;
  color: inherit;
}

html {
  --colors-app-bg: hsl(236, 33%, 92%);
  --colors-todo-bg: hsl(0, 0%, 98%);
  --colors-completed-todo: hsl(233, 11%, 84%);
  --colors-text-secondary: hsl(236, 9%, 61%);
  --colors-br: hsl(236, 33%, 92%);
  --colors-text-primary: hsl(235, 19%, 35%);
  --colors-tab-active: hsl(220, 98%, 61%);
  --colors-check-gradient: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --bg-desktop: url('./images/bg-desktop-light.jpg');
  --bg-mobile: url('./images/bg-mobile-light.jpg');
}

.dark {
  --colors-app-bg: hsl(235, 21%, 11%);
  --colors-todo-bg: hsl(235, 24%, 19%);
  --colors-completed-todo: hsl(234, 11%, 52%);
  --colors-text-secondary: hsl(233, 14%, 35%);
  --colors-br: hsl(233, 14%, 35%);
  --colors-text-primary: hsl(234, 39%, 85%);
  --bg-desktop: url('./images/bg-desktop-dark.jpg');
  --bg-mobile: url('./images/bg-mobile-dark.jpg');
}

body {
  font: 400 1.25rem 'Josefin Sans', sans-serif;
  background: var(--bg-desktop) no-repeat top/contain var(--colors-app-bg);
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: min(720px, 100%);
  min-height: 100vh;
  margin-inline: auto;
  padding: 6rem 2rem 2rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.outline-circle {
  width: 1.25em;
  height: 1.25em;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid var(--colors-completed-todo);
}

.icon-btn {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.icon-btn:active {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  body {
    background-image: var(--bg-mobile);
  }
}

@media (max-width: 600px) {
  body {
    font-size: 0.875rem;
  }

  main {
    padding: 3rem 1rem 2rem;
    gap: 2rem;
  }
}
